body {background-color:#FC00FC;
font-family:Segoe, Verdana, sans-serif;}

header {
      background-color:#8E00FF;
      background-image:url('https://i.postimg.cc/Hx24x8x5/IMG-0055.jpg');
      background-attachment:fixed;
      background-repeat:repeat-x;
}

h1 {
   color:#00FFFF;
   font-family:arial;
   text-transform:uppercase; 
   font-weight:normal; 
   font-size:50px;
   line-height:51px; 
}

h2 {
   color:#FC00FC;
}

nav > ul {
      list-style-type:"\1F48B";
}
         

section {background-color:#00FFFF;
         width:75%;
         font-family:century gothic;}
         
footer {
      background-color:#8E00FF;
}
         

      